<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minhvu.proandroid.sqlite.database">


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission-sdk-23 android:name="android.permission.USE_FINGERPRINT" />
    //Google-play don't check for the presence of a touch sensor
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".main.view.Activity.LogInActivity"
            android:theme="@style/CustomAlert">
        </activity>

        <activity
            android:name=".main.view.Activity.MainActivity2"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.view.Activity.BookDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".main.view.Activity.MainActivity2"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.view.Activity.MainActivity" />
        </activity>

        <activity
            android:name=".main.view.Activity.GetShareActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>


        <provider
            android:name=".models.data.NoteProvider"
            android:authorities="@string/content_authority" />

        <receiver
            android:name=".receiver.PinBroadcast"
            android:enabled="true">
            <intent-filter>
                <action android:name="pinbroadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.HandlerRebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.AlarmRebootService" />

        <receiver android:name=".receiver.SyncReceiver">
            <intent-filter>
                <action android:name="syncei" />
            </intent-filter>
        </receiver>
        <service android:name=".services.SyncService" />


        <receiver android:name=".receiver.SignInReceiver">
            <intent-filter>
                <action android:name="sign_in_successful"/>
            </intent-filter>
        </receiver>
        <service android:name=".services.SignInService"/>
    </application>

</manifest>